body {
	background-color: #111111;
	color: #CCCCCC;
	font-family: "DejaVuSansBook", sans-serif, "DejaVuSerifBook";
	margin-left: auto;
	margin-right: auto;
	max-width: 54.88em; /* 100 characters + 4.88em padding */
	min-width: 38.38em; /* 66.5 characters + 4.88em padding */
	text-align: left;
	word-spacing: 0;
}

body > section,
body > article {
	background-color: #08081A;
	border: 0.125em solid #CCCCCC;
	border-top: 0;
	-moz-box-shadow: inset black 0 0.5em 0.5em;
	-webkit-box-shadow: inset black 0 0.5em 0.5em;
	box-shadow: inset black 0 0.5em 0.5em;
	margin-bottom: 1.625em;
	padding-bottom: 1.625em;
	padding-left: 2.44em;
	padding-right: 2.44em;
}

body > section > h1:first-of-type,
body > article > h1:first-of-type {
	padding-top: 1.083em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DejaVuSerifBook", serif;
}

a:link {
	color: #11AACC;
}

a:visited {
	color: #AA11CC;
}

a:active {
	color: #11CC11;
}
