#sections > ul {
	bottom: -0.125em;
	line-height: 1em;
	position: relative;
}

#sections > ul {
	list-style-type: none;
	margin: 0.25em 0 0 0;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: left;
}

#sections > ul > li {
	border: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#sections > ul > li > a {
	background-color: #443333;
	border: 0.125em solid #C0C0C0;
	-webkit-border-top-left-radius: 0.188em;
	-webkit-border-top-right-radius: 0.188em;
	-moz-border-radius-topleft: 0.188em;
	-moz-border-radius-topright: 0.188em;
	border-top-left-radius: 0.188em;
	border-top-right-radius: 0.188em;
	color: #CCCCCC;
	display: block;
	margin-right: 0.3em;
	padding: 0.5em 0.7em;
	text-decoration: none;
}

#sections > ul > li#active_section_li > a {
	background-color: #2A0808;
	border-bottom: 0.15em solid #2A0808;
	cursor: default;
	color: #D0D0D0;
	font-weight: bold;
}

#sections > ul > li > a:hover {
	background: #332222;
}
