#subsections {
	background-color: #2A0808;
	border-collapse: collapse;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#subsections > ul {
	border-right: none;
	display: table-row;
	line-height: 1em;
}

#subsections > ul > li {
	border-top: 0.125em solid #D0D0D0;
	display: table-cell;
	text-align: center;
}

#subsections > ul > li > a {
	color: #D0D0D0;
	display: block;
	margin: 0;
	padding: 0.187em 0 0.188em 0;
	text-decoration: none;
}

#subsections > ul > li#active_subsection_li > a {
	font-weight: bold;
}

#subsections > ul > li#active_subsection_li > a:hover {
	background-color: #2A0808;
	cursor: default;
}

#subsections > ul > li#active_subsection_li > a:before {
	content: "\25B8\00A0";
}

#subsections > ul > li:first-of-type > a {
	border-left: 0.125em solid #D0D0D0;
}

#subsections > ul > li:last-of-type > a {
	border-right: 0.125em solid #D0D0D0;
}

#subsections > ul > li > a:hover {
	background-color: #3A1010;
}
